<!DOCTYPE html>
<html>
<head>
  <title>Edit Landmark</title>
</head>
<body>
  <h1>Edit Landmarks</h1>
  <form action='/landmarks/<%=@landmark.id%>' method='POST'>
  <input type="hidden" name="_method" value="patch">
  <label>Name</label>    
  <input type="text" name="landmarks[name]" value="<%=@landmark.name%>">
  <label>Year Completed</label>    
  <input type="text" name="landmarks[year_completed]" value="<%=@landmark.year_completed%>">
  <label>Figure</label>    
  <input type="text" name="landmarks[add_figure_by_name]" value="<%= @landmark.figure ? @landmark.figure.name : '' %>">

  <input type="submit" value="submit">

  </form>


</body>
</html>