<!DOCTYPE html>
<html>
<head>
  <title>New Figure</title>
</head>
<body>
  <h1>New Figures</h1>
  <form action='/figures' method='POST'>
  <label>NAME</label>    
  <input type="text" name="figures[name]">
  <label>TITLES</label>    
  <input type="text" name="figures[add_titles_by_name]">
  <input type="submit" value="submit">

  </form>


</body>
</html>