<!DOCTYPE html>
<html>
<head>
  <title>Titles</title>
</head>
<body>
  <h1>Titles</h1>
  <table>
  <tr>
    <th>NAME</th>
  </tr>
    <%@titles.each do |title|%>
      <tr>
        <td><%= title.name %></td>
        <td><form action="/titles/<%=title.id%>">
        <input type ="submit" value="Show"></form></td>
        <% end %>
      </tr>
  </table>
  </br>
  </br>
  <form action="/titles/new"><input type="submit" value="New"></form>
</body>
</html>